// CSS Variables
// See `_breakpoints.scss` for media query breakpoint variables.

:root {
	// Color Definitions.
	--color-primary: #1a3c34;
	--color-primary-50: #d1d8d6;
	--color-primary-100: #768a85;
	--color-secondary: #dd8b61;
	--color-secondary-50: #f8e8df;
	--color-white: #fff;
	--color-gray: #5d5d5d;
	--color-gray-50: #dde5e9;
	--color-gray-100: #f7f7f7;
}
