@import 'styles/breakpoints';

%visible {
	visibility: visible;
	opacity: 1;
}

%hidden {
	// Always visible for smaller viewports.
	@media (min-width: $breakpoint-small) {
		visibility: hidden;
		opacity: 0;
	}
}
